#total {
    border: 2px solid black;
    text-align: center;
    width: auto;
    width: 500px;
    margin-left: 400px;
    display: grid;
    height: 500px;
}

#input {
    margin-top: 10px;
    grid-template-columns: repeat(1, auto);
    display: grid;
    color: red;

}

#number {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(3, auto);

}

#operators {
    margin-top: 10px;
    grid-template-columns: repeat(4, auto);
    display: grid;
}